*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#display{
    background-color:lightgray;
    height: 50px;
    width: 180px;
    margin-top: 10px;
}
.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-style: solid;
    border-color: palevioletred;
    height: 280px;
}.divide-container{
    display: flex;
    justify-content: end;
}
.multiply-container{
    display: flex;
    justify-content: end;
}
.button-container{
    width: 200px;
    height: 300px;
    padding-top: 10px
}
.divide{
    height:30px;
    width: 43px;
}
.multiply{
    height:30px;
    width:43px;
}
.row-1-container{
    display: flex;
    justify-content: space-between;
}
.nums-1{
    display: flex;
    justify-content: space-between;
}
button{
    height:30px;
    width:43px;
}
.row-2-container{
    display: flex;
    justify-content: space-between;
}
.nums-2{
    display: flex;
    justify-content: space-between;
}
.nums-container{
    display: flex;
}
.double-row-container{
    display: flex;
    justify-content: space-between;
}
.clear-container{
    display: flex;
}
.equals{
    height: 60px;
}